.hero {
	font-size: clamp(50px, 5vw, 100px);
	line-height: 1;
	margin-left: 30px;
	color: #d3d3d3;
	/* Bright things in dark environments usually cast that light, giving off a glow */
	filter: drop-shadow(0 1px 3px);
}

.layers {
	position: relative;
}

.layers::before,
  .layers::after {
	content: attr(data-text);
	position: absolute;
	width: 110%;
	z-index: -1;
}

.layers::before {
	top: 10px;
	left: 15px;
	color: #d3d3d3;
}

.layers::after {
	top: 5px;
	left: -10px;
	color: #d3d3d3;
}

.single-path {
	clip-path: polygon(
	  0% 12%,
	  53% 12%,
	  53% 26%,
	  25% 26%,
	  25% 86%,
	  31% 86%,
	  31% 0%,
	  53% 0%,
	  53% 84%,
	  92% 84%,
	  92% 82%,
	  70% 82%,
	  70% 29%,
	  78% 29%,
	  78% 65%,
	  69% 65%,
	  69% 66%,
	  77% 66%,
	  77% 45%,
	  85% 45%,
	  85% 26%,
	  97% 26%,
	  97% 28%,
	  84% 28%,
	  84% 34%,
	  54% 34%,
	  54% 89%,
	  30% 89%,
	  30% 58%,
	  83% 58%,
	  83% 5%,
	  68% 5%,
	  68% 36%,
	  62% 36%,
	  62% 1%,
	  12% 1%,
	  12% 34%,
	  60% 34%,
	  60% 57%,
	  98% 57%,
	  98% 83%,
	  1% 83%,
	  1% 53%,
	  91% 53%,
	  91% 84%,
	  8% 84%,
	  8% 83%,
	  4% 83%
	);
}

.paths {
	animation: paths 5s step-end infinite;
}

@keyframes paths {
	0% {
		clip-path: polygon(
		0% 43%,
		83% 43%,
		83% 22%,
		23% 22%,
		23% 24%,
		91% 24%,
		91% 26%,
		18% 26%,
		18% 83%,
		29% 83%,
		29% 17%,
		41% 17%,
		41% 39%,
		18% 39%,
		18% 82%,
		54% 82%,
		54% 88%,
		19% 88%,
		19% 4%,
		39% 4%,
		39% 14%,
		76% 14%,
		76% 52%,
		23% 52%,
		23% 35%,
		19% 35%,
		19% 8%,
		36% 8%,
		36% 31%,
		73% 31%,
		73% 16%,
		1% 16%,
		1% 56%,
		50% 56%,
		50% 8%
	  );
	}

	5% {
		clip-path: polygon(
		0% 29%,
		44% 29%,
		44% 83%,
		94% 83%,
		94% 56%,
		11% 56%,
		11% 64%,
		94% 64%,
		94% 70%,
		88% 70%,
		88% 32%,
		18% 32%,
		18% 96%,
		10% 96%,
		10% 62%,
		9% 62%,
		9% 84%,
		68% 84%,
		68% 50%,
		52% 50%,
		52% 55%,
		35% 55%,
		35% 87%,
		25% 87%,
		25% 39%,
		15% 39%,
		15% 88%,
		52% 88%
	  );
	}

	30% {
		clip-path: polygon(
		0% 53%,
		93% 53%,
		93% 62%,
		68% 62%,
		68% 37%,
		97% 37%,
		97% 89%,
		13% 89%,
		13% 45%,
		51% 45%,
		51% 88%,
		17% 88%,
		17% 54%,
		81% 54%,
		81% 75%,
		79% 75%,
		79% 76%,
		38% 76%,
		38% 28%,
		61% 28%,
		61% 12%,
		55% 12%,
		55% 62%,
		68% 62%,
		68% 51%,
		0% 51%,
		0% 92%,
		63% 92%,
		63% 4%,
		65% 4%
	  );
	}

	45% {
		clip-path: polygon(
		0% 33%,
		2% 33%,
		2% 69%,
		58% 69%,
		58% 94%,
		55% 94%,
		55% 25%,
		33% 25%,
		33% 85%,
		16% 85%,
		16% 19%,
		5% 19%,
		5% 20%,
		79% 20%,
		79% 96%,
		93% 96%,
		93% 50%,
		5% 50%,
		5% 74%,
		55% 74%,
		55% 57%,
		96% 57%,
		96% 59%,
		87% 59%,
		87% 65%,
		82% 65%,
		82% 39%,
		63% 39%,
		63% 92%,
		4% 92%,
		4% 36%,
		24% 36%,
		24% 70%,
		1% 70%,
		1% 43%,
		15% 43%,
		15% 28%,
		23% 28%,
		23% 71%,
		90% 71%,
		90% 86%,
		97% 86%,
		97% 1%,
		60% 1%,
		60% 67%,
		71% 67%,
		71% 91%,
		17% 91%,
		17% 14%,
		39% 14%,
		39% 30%,
		58% 30%,
		58% 11%,
		52% 11%,
		52% 83%,
		68% 83%
	  );
	}

	76% {
		clip-path: polygon(
		0% 26%,
		15% 26%,
		15% 73%,
		72% 73%,
		72% 70%,
		77% 70%,
		77% 75%,
		8% 75%,
		8% 42%,
		4% 42%,
		4% 61%,
		17% 61%,
		17% 12%,
		26% 12%,
		26% 63%,
		73% 63%,
		73% 43%,
		90% 43%,
		90% 67%,
		50% 67%,
		50% 41%,
		42% 41%,
		42% 46%,
		50% 46%,
		50% 84%,
		96% 84%,
		96% 78%,
		49% 78%,
		49% 25%,
		63% 25%,
		63% 14%
	  );
	}

	90% {
		clip-path: polygon(
		0% 41%,
		13% 41%,
		13% 6%,
		87% 6%,
		87% 93%,
		10% 93%,
		10% 13%,
		89% 13%,
		89% 6%,
		3% 6%,
		3% 8%,
		16% 8%,
		16% 79%,
		0% 79%,
		0% 99%,
		92% 99%,
		92% 90%,
		5% 90%,
		5% 60%,
		0% 60%,
		0% 48%,
		89% 48%,
		89% 13%,
		80% 13%,
		80% 43%,
		95% 43%,
		95% 19%,
		80% 19%,
		80% 85%,
		38% 85%,
		38% 62%
	  );
	}

	1%,
	7%,
	33%,
	47%,
	78%,
	93% {
		clip-path: none;
	}
}

.movement {
	/* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
	position: relative;
	animation: movement 8s step-end infinite;
}

@keyframes movement {
	0% {
		top: 0px;
		left: -20px;
	}

	15% {
		top: 10px;
		left: 10px;
	}

	60% {
		top: 5px;
		left: -10px;
	}

	75% {
		top: -5px;
		left: 20px;
	}

	100% {
		top: 10px;
		left: 5px;
	}
}

.opacity {
	animation: opacity 5s step-end infinite;
}

@keyframes opacity {
	0% {
		opacity: 0.1;
	}

	5% {
		opacity: 0.7;
	}

	30% {
		opacity: 0.4;
	}

	45% {
		opacity: 0.6;
	}

	76% {
		opacity: 0.4;
	}

	90% {
		opacity: 0.8;
	}

	1%,
	7%,
	33%,
	47%,
	78%,
	93% {
		opacity: 0;
	}
}

.font {
	animation: font 7s step-end infinite;
}

@keyframes font {
	0% {
		font-weight: 100;
		color: #e0287d;
		filter: blur(3px);
	}

	20% {
		font-weight: 500;
		color: #fff;
		filter: blur(0);
	}

	50% {
		font-weight: 300;
		color: #1bc7fb;
		filter: blur(2px);
	}

	60% {
		font-weight: 700;
		color: #fff;
		filter: blur(0);
	}

	90% {
		font-weight: 500;
		color: #e0287d;
		filter: blur(6px);
	}
}

.glitch span {
	animation: paths 5s step-end infinite;
}

.glitch::before {
	animation: paths 5s step-end infinite, opacity 5s step-end infinite,
	  font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
	animation: paths 5s step-end infinite, opacity 5s step-end infinite,
	  font 7s step-end infinite, movement 8s step-end infinite;
}

.hero-container {
	position: relative;
	margin-top: 50px;
	text-align: left;
}

@keyframes flicker {
	0% {
		opacity: 0.27861;
	}

	5% {
		opacity: 0.34769;
	}

	10% {
		opacity: 0.23604;
	}

	15% {
		opacity: 0.90626;
	}

	20% {
		opacity: 0.18128;
	}

	25% {
		opacity: 0.83891;
	}

	30% {
		opacity: 0.65583;
	}

	35% {
		opacity: 0.67807;
	}

	40% {
		opacity: 0.26559;
	}

	45% {
		opacity: 0.84693;
	}

	50% {
		opacity: 0.96019;
	}

	55% {
		opacity: 0.08594;
	}

	60% {
		opacity: 0.20313;
	}

	65% {
		opacity: 0.71988;
	}

	70% {
		opacity: 0.53455;
	}

	75% {
		opacity: 0.37288;
	}

	80% {
		opacity: 0.71428;
	}

	85% {
		opacity: 0.70419;
	}

	90% {
		opacity: 0.7003;
	}

	95% {
		opacity: 0.36108;
	}

	100% {
		opacity: 0.24387;
	}
}

@keyframes textShadow {
	0% {
		text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
		-0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	5% {
		text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
		-2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	10% {
		text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
		-0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	15% {
		text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
		-0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	20% {
		text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
		-3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	25% {
		text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
		-1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	30% {
		text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
		-0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	35% {
		text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
		-3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	40% {
		text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
		-3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	45% {
		text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
		-2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	50% {
		text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
		-0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	55% {
		text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
		-2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	60% {
		text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
		-2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	65% {
		text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
		-2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	70% {
		text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
		-0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	75% {
		text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
		-1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	80% {
		text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
		-0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	85% {
		text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
		-0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	90% {
		text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
		-3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	95% {
		text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
		-2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	100% {
		text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
		-2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
}

body::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.15s infinite;
	height: 150%;
}

body::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
	  linear-gradient(
		90deg,
		rgba(255, 0, 0, 0.06),
		rgba(0, 255, 0, 0.02),
		rgba(0, 0, 255, 0.06)
	  );
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
	height: 150%;
}

body {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: #1b1c1e;
	font-family: "VCR", monospace;
	animation: textShadow 1.6s infinite;
}

h1 {
	color: black;
}

::selection {
	background: #777777;
	color: #0f0f0f;
	text-shadow: none;
}

.btn {
	font-family: "Inconsolata", monospace;
	font-size: 2rem;
	text-align: center;
	border-radius: 7px;
	height: 40px;
	border-color: #1b1c1e;
	background-color: #777777;
	color: #d3d3d3;
}

.green {
	color: #161616;
	background-color: rgba(138, 252, 138, 0.752);
}

.brightgreen {
	color: #161616;
	background-color: rgba(0, 128, 0, 0.801);
}

.yellow {
	color: #161616;
	background-color: rgba(251, 251, 92, 0.882);
}

.brightyellow {
	color: #161616;
	background-color: rgba(255, 255, 0, 0.504);
}

.brightorange {
	color: #161616;
	background-color: rgba(255, 83, 36, 0.782);
}

.orange {
	color: #161616;
	background-color: rgba(255, 142, 36, 0.782);
}

.red {
	color: #161616;
	background-color: rgba(254, 110, 134, 0.66);
}

.brightred {
	color: #161616;
	background-color: rgba(255, 0, 0, 0.762);
}

.drop {
	font-family: "Inconsolata", monospace;
	border-color: #161616;
	border-radius: 3px;
	margin-left: 20px;
	width: 90%;
	height: 30px;
}

.attribute {
	font-size: 17px;
	color: #d3d3d3;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.container25 {
	margin-left: 10px;
	margin-right: 10px;
	color: #d3d3d3;
	display: block;
	width: 50%;
}

.container50 {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-flex;
	width: 700px;
}

.container100 {
	margin-right: 60px;
	display: inline-flex;
	width: 100%;
}

.container_bottom {
	text-align: center;
	color: #d3d3d3;
	margin-top: 20px;
	margin-bottom: 150px;
}

.scorecontainer100 {
	display: flex;
}

.scorecontainer50 {
	width: 75%;
	margin: auto;
	color: #d3d3d3;
}

.responsiveScore {
	width: 100%;
	margin: auto;
}

.scorecontainerbottom {
	color: #d3d3d3;
	width: 50%;
	margin: auto;
	justify-content: center;
	text-align: center;
}

.score25text {
	font-size: 20px;
}

.score100text {
	font-size: 25px;
}

.score25 {
	color: #d3d3d3;
	margin-top: 10px;
	margin-left: 20px;
	width: 90%;
	margin-bottom: 0px;
}

.score50 {
	display: block;
	color: #d3d3d3;
	width: 90%;
	margin-bottom: 0px;
}

.col-8 {
	text-align: center;
}

.topics {
	color: #d3d3d3;
}

.form-control {
	color: #d3d3d3;
	background-color: #414141;
}

.noFlexContainer {
	width: 50%;
}

#overall_score {
	color: #fff;
	text-align: center;
	align-content: center;
	display: flex;
	margin: auto;
	margin-bottom: 50px;
	padding-left: 3rem;
	padding-right: 3rem;
	font-size: 2rem;
}

.btn {
	width: 100%;
	color: #fff;
	text-align: center;
	align-content: center;
	display: flex;
	padding-left: 3rem;
	padding-right: 3rem;
}

@font-face {
	font-family: 'VCR';
    src: url('VCR.eot'); /* IE9 Compat Modes */
    src: url('VCR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('VCR.woff') format('woff'), /* Modern Browsers */
         url('VCR.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('VCR.svg#svgFontName') format('svg'); /* Legacy iOS */;
}

@media only screen and (max-width: 1500px) {
	body::before {
		height: 250%;
	}

	body::after {
		height: 250%;
	}

	.container100 {
		display: inline-block;
		width: 100%;
	}

	.container25 {
		display: block;
		width: 100%;
	}

	.container50 {
		display: inline-flex;
		width: 100%;
	}

	.noFlexContainer {
		margin-right: 60px;
		display: inline-block;
		width: 100%;
	}

	.responsiveScore {
		width: 100%;
		margin: auto;
	}

	.scorecontainerbottom {
		color: #d3d3d3;
		width: 50%;
		margin: auto;
		justify-content: center;
		text-align: center;
	}
}

@media only screen and (max-width: 815px) {
	body::before {
		height: 350%;
	}

	body::after {
		height: 350%;
	}

	.container100 {
		display: inline-block;
		width: 100%;
	}

	.container25 {
		display: block;
		width: 100%;
	}

	.container50 {
		display: block;
		width: 100%;
	}

	.noFlexContainer {
		margin-right: 60px;
		display: inline-block;
		width: 100%;
	}

	.responsiveScore {
		width: 100%;
		margin: auto;
	}

	.scorecontainerbottom {
		color: #d3d3d3;
		width: 50%;
		margin: auto;
		justify-content: center;
		text-align: center;
	}
}

.scan {
	height: 20px;
	width: 100%;
	background-color: #262626;
}

.scan-bar {
	position: absolute;
	height: 100%;
	width: 100%;
	margin-left: -50px;
	top: 0;
	z-index: -1;
	animation: scan 3s infinite;
}

@keyframes scan {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(350px);
		opacity: 0;
	}
}