@keyframes flicker {
	0% {
	  opacity: 0.27861;
	}
	5% {
	  opacity: 0.34769;
	}
	10% {
	  opacity: 0.23604;
	}
	15% {
	  opacity: 0.90626;
	}
	20% {
	  opacity: 0.18128;
	}
	25% {
	  opacity: 0.83891;
	}
	30% {
	  opacity: 0.65583;
	}
	35% {
	  opacity: 0.67807;
	}
	40% {
	  opacity: 0.26559;
	}
	45% {
	  opacity: 0.84693;
	}
	50% {
	  opacity: 0.96019;
	}
	55% {
	  opacity: 0.08594;
	}
	60% {
	  opacity: 0.20313;
	}
	65% {
	  opacity: 0.71988;
	}
	70% {
	  opacity: 0.53455;
	}
	75% {
	  opacity: 0.37288;
	}
	80% {
	  opacity: 0.71428;
	}
	85% {
	  opacity: 0.70419;
	}
	90% {
	  opacity: 0.7003;
	}
	95% {
	  opacity: 0.36108;
	}
	100% {
	  opacity: 0.24387;
	}
  }
  @keyframes textShadow {
	0% {
	  text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
		-0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	5% {
	  text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
		-2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	10% {
	  text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
		-0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	15% {
	  text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
		-0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	20% {
	  text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
		-3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	25% {
	  text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
		-1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	30% {
	  text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
		-0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	35% {
	  text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
		-3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	40% {
	  text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
		-3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	45% {
	  text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
		-2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	50% {
	  text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
		-0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	55% {
	  text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
		-2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	60% {
	  text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
		-2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	65% {
	  text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
		-2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	70% {
	  text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
		-0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	75% {
	  text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
		-1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	80% {
	  text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
		-0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	85% {
	  text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
		-0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	90% {
	  text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
		-3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	95% {
	  text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
		-2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	100% {
	  text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
		-2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
  }
  body::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.15s infinite;
	height: 150%;
  }
  body::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
	  linear-gradient(
		90deg,
		rgba(255, 0, 0, 0.06),
		rgba(0, 255, 0, 0.02),
		rgba(0, 0, 255, 0.06)
	  );
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
	height: 150%;
  }
  
  body {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: #1b1c1e;
	font-family: "Inconsolata", monospace;
	animation: textShadow 1.6s infinite;
  }
  
  h1 {
	color: black;
  }
  
  ::selection {
	background: #777777;
	color: #0f0f0f;
	text-shadow: none;
  }
  
  #header {
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 50px;
	text-align: left;
	width: 90%;
	color: #d3d3d3;
	font-size: 10px;
  }
  
  .btn {
	font-family: "Inconsolata", monospace;
	font-size: 2rem;
	text-align: center;
	border-radius: 7px;
	height: 40px;
	border-color: #1b1c1e;
	background-color: #777777;
	color: #d3d3d3;
  }
  
  .green {
	color: #161616;
	background-color: rgba(138, 252, 138, 0.752);
  }
  
  .brightgreen {
	color: #161616;
	background-color: rgba(0, 128, 0, 0.801);
  }
  
  .yellow {
	color: #161616;
	background-color: rgba(251, 251, 92, 0.882);
  }
  
  .brightyellow {
	color: #161616;
	background-color: rgba(255, 255, 0, 0.504);
  }
  
  .brightorange {
	color: #161616;
	background-color: rgba(255, 83, 36, 0.782);
  }
  
  .orange {
	color: #161616;
	background-color: rgba(255, 142, 36, 0.782);
  }
  
  .red {
	color: #161616;
	background-color: rgba(254, 110, 134, 0.66);
  }
  
  .brightred {
	color: #161616;
	background-color: rgba(255, 0, 0, 0.762);
  }
  
  .drop {
	font-family: "Inconsolata", monospace;
	border-color: #161616;
	border-radius: 3px;
	margin-left: 20px;
	width: 90%;
	height: 30px;
  }
  
  .attribute {
	font-size: 17px;
	color: #d3d3d3;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 5px;
  }
  
  .container25 {
	margin-left: 10px;
	margin-right: 10px;
	color: #d3d3d3;
	display: block;
	width: 50%;
  }
  
  .container50 {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-flex;
	width: 700px;
  }
  
  .container100 {
	margin-right: 60px;
	display: inline-flex;
	width: 100%;
  }
  
  .container_bottom {
	text-align: center;
	color: #d3d3d3;
	margin-top: 20px;
	margin-bottom: 150px;
  }
  
  .scorecontainer100 {
	display: flex;
  }
  
  .scorecontainer50 {
	margin-left: 100px;
	width: 75%;
	color: #d3d3d3;
  }
  
  .scorecontainerbottom {
	color: #d3d3d3;
	width: 650px;
	margin-left: 390px;
	text-align: center;
  }
  
  .score25text {
	font-size: 20px;
  }
  
  .score100text {
	font-size: 25px;
  }
  
  .score25 {
	color: #d3d3d3;
	margin-top: 10px;
	margin-left: 20px;
	width: 90%;
	margin-bottom: 0px;
  }
  
  .score50 {
	display: block;
	color: #d3d3d3;
	width: 90%;
	margin-bottom: 0px;
  }
  
  .col-8 {
	text-align: center;
  }
  
  .topics {
	color: #d3d3d3;
  }
  
  .form-control {
	color: #d3d3d3;
	background-color: #414141;
  }
  
  .noFlexContainer {
	width: 50%;
  }
  
  #overall_score {
	color: #fff;
	text-align: center;
	align-content: center;
	display: flex;
	margin: auto;
	margin-bottom: 50px;
	padding-left: 3rem;
	padding-right: 3rem;
	font-size: 2rem;
  }
  
  .btn {
	width: 100%;
	color: #fff;
	text-align: center;
	align-content: center;
	display: flex;
	padding-left: 3rem;
	padding-right: 3rem;
  }
  
  @media only screen and (max-width: 1500px) {
	body::before {
	  height: 250%;
	}
  
	body::after {
	  height: 250%;
	}
  
	.container100 {
	  display: inline-block;
	  width: 100%;
	}
  
	.container25 {
	  display: block;
	  width: 100%;
	}
  
	.container50 {
	  display: inline-flex;
	  width: 100%;
	}
  
	.noFlexContainer {
	  margin-right: 60px;
	  display: inline-block;
	  width: 100%;
	}
  
	.scorecontainerbottom {
	  align-self: center;
	  margin-left: 20px;
	}
  
	.responsiveScore {
	  align-content: center;
	  margin-left: 20px;
	}
  
	#like_score,
	#impact_score {
	  max-width: 100%;
	}
  }
  
  @media only screen and (max-width: 815px) {
	body::before {
	  height: 350%;
	}
  
	body::after {
	  height: 350%;
	}
  
	.container100 {
	  display: inline-block;
	  width: 100%;
	}
  
	.container25 {
	  display: block;
	  width: 100%;
	}
  
	.container50 {
	  display: block;
	  width: 100%;
	}
  
	.noFlexContainer {
	  margin-right: 60px;
	  display: inline-block;
	  width: 100%;
	}
  
	.scorecontainerbottom {
	  margin-left: 20px;
	  align-items: center;
	}
  
	#like_score,
	#impact_score {
	  max-width: 65%;
	}
  
	#overall_score {
	  align-self: center;
	}
  }
  
  @media only screen and (max-width: 1010px) {
	#header {
	  font-size: 10px;
	}
  }
  
  @media only screen and (max-width: 815px) {
	#header {
	  font-size: 8px;
	}
  }
  